<!DOCTYPE html>
<html lang="en">
    <head>
        <title><?php echo isset($title_for_layout) ? $title_for_layout : '' ?></title>
        <?php $this->load->view('includes/templates/metronic_login/include_meta.phtml'); ?>
        <?php $this->load->view('includes/templates/metronic_login/include_css.phtml'); ?>		
    </head>
    <body class=" login">
        <div class="col-xs-12">
            <?php $this->load->view('components/content.html.php'); ?>
        </div>
    </body>
    <?php $this->load->view('includes/templates/metronic_login/include_js.phtml'); ?>	
</html>